.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
body {font-family:Arial, Helvetica, sans-serif}
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1
        }
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.5s;
            font-size: 17px
        }

        /*Changes background on hover*/
        .tab button:hover {
            background-color: rgb(#ddd);
        }

        /*Changes background on click*/
        .tab button.active {
            background-color: #ccc
        }

        /*for each page*/
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }